<!DOCTYPE html>
<html>
<head>
  <title>TwoStepAuthenticationPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= link_to('log out', destroy_user_session_path, method: :delete) if user_signed_in? %>
<%= yield %>

</body>
</html>
